/* ACE_Styles */

.ace_opalcomment {
	color:blue;
}
.ace_opalhandler {
	color:purple;
}
.ace_opalkeyword {
	color:brown;
	font-weight:bold;
}
.ace_opaltype {
	@extend .ace_opalkeyword;
	color:green;
}
.ace_opaldigit {
	color:fuchsia;
}
.ace_opalbool {
	@extend .ace_opaldigit;
}
.ace_opaloperator {
	@extend .ace_opaldigit;
}

.ace_cursor-layer{
	display:none;
}

.ace_focus .ace_cursor-layer{
	display:block;
}

.ace_print-margin{
	display:none;
}
