@import "ace";
@import "extern";

@authors Sebastian Neef, Moritz Lummerzheim, Lukas Eipert;

@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(fonts/Rambla.woff) format('woff');
}

body, .ui-widget {
	font-family: 'Rambla', Verdana, Arial, sans-serif;
	font-size:1em;
}
$marginTop: 20px;
$scale: 10%;
#logo {
	vertical-align: middle;
	height: $scale;
	width: $scale;
	margin-top:-$marginTop;
}

body {
	background-color: #292527;
}

#customsearch {
	width:1120px;
	margin-bottom:10px;
	margin-top:5px;
}

#downloadform {
	display: inline;
}

#wrapper {
	background-color: #FA9200;
	margin: 0px auto 0px auto;
	width: 1124px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 10px;
	border-radius: 5px;
	border-top-right-radius: 10px;
	border: 1px solid #000000;
	padding:$marginTop 10px;
}

#wrapper #title {
	display:block;
	
}

.implcontainer {
	left:0px;
	top:0px;
	position:relative;
	width:520px;
	height:250px;
	margin-top:10px;
	display:inline-block;
}

#EditAreaArroundInfos_impl_eingabe, #EditAreaArroundInfos_sign_eingabe {
	display:none;
}

.signcontainer {
	left:0px;
	top:75x;
	position:relative;
	width:520px;
	height:250px;
	margin-top:10px;
	display:inline-block;
}

#funccontainer {
	float:left;
	position:relative;
	width:500px;
	height:50px;
}

#sendcontainer {
	float:right;
	position:relative;
	width:500px;
	height:50px;
}

#outputcontainer {
	clear:both;
	position:relative;
	width:1120px;
	height:250px;
}

#outputcontainer div {
	width:1100px;
	height: 220px;
	background-color: white;
	font-family:monospace;
	padding:10px;
	border: 1px solid grey;
}

.signcontainer textarea {
	width:490px;
	height:225px;
}

.implcontainer textarea {
	width: 490px;
	height: 225px;
}

.struccontainer{
	padding:0;
	position:relative;
}

#github {
	width: 250px;
	height: 25px;
}

#githublink {
	text-decoration:none;
	display:block;
}

#contributors {
	text-align: right;
	margin-right: 5px;
}

.sign, .impl {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:100%;
	height:80%;
	margin-top: 30px;
}

.error {
	color:#ff0000;
}

input[type="file"], input[type="submit"] {
	font-size: 0.7em;
}

#structnr {
	display:none;
}

#addStruc{
float:right;
}


#issueList,#reportForm{
	width:49%;
	position:absolute;
}

#reportForm{
	left:50%;
}

#issueList h3.title,#reportForm h3.title{
margin-left:15px;
}
#issueList div.content,#reportForm div.content{
	margin:25px;
}

#issueList div.content img{
	width:100%;
}

#reportData label.error{
	float:right;
}

div.issueDescription {
	margin-left:10px;
	font-style:italic;
}

.warning
{
    background: rgba(255, 50, 50, 0.5);
    position: absolute;
    width:100% !important;
    left:0% !important;
}

.whyEmail{
	background-color:#FFFF55;
	border: 5px solid #FF9900;
	margin-bottom:15px;
	font-size:0.85em;
}

#text {
	margin-left:43px;
}

#autocomplete {
	position: absolute;
	left:0px;
	right:0px;
	width:1px;
	height:1px;
	z-index:1000;
}
