<FilesMatch "\.(txt|html|htm|php)">
    ForceType application/x-httpd-php
    
    php_value auto_prepend_file "/opt/lampp/htdocs/PHP-Webopal/tools/gzip-php.php"
 
</FilesMatch>

<FilesMatch "\.(css)">
    ForceType application/x-httpd-php
 
    php_value auto_prepend_file "/opt/lampp/htdocs/PHP-Webopal/tools/gzip-css.php"
 
</FilesMatch>
<FilesMatch "\.(js)">
    ForceType application/x-httpd-php
 
    php_value auto_prepend_file "/opt/lampp/htdocs/PHP-Webopal/tools/gzip-js.php"
 
</FilesMatch>

