.ace_opalcomment {
	color:blue;
}
.ace_opalhandler {
	color:purple;
}
.ace_opalkeyword {
	color:brown;
	font-weight:bold;
}
.ace_opaltype {
	color:green;
	font-weight:bold;
}
.ace_opaldigit {
	color:fuchsia;
}
.ace_opalbool {
	color:fuchsia;
}
