@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: local('Rambla'), local('Rambla-Regular'), url(fonts/Rambla.woff) format('woff');
}

body, .ui-widget {
	font-family: 'Rambla', Verdana, Arial, sans-serif;
	font-size:1em;
}

body {
	background-color: #292527;
}

#customsearch {
	width:1120px;
	margin-bottom:10px;
	margin-top:5px;
}

#downloadform {
	display: inline;
}

#wrapper {
	background-color: #FA9200;
	margin: 0px auto 0px auto;
	width: 1124px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 5px;
	-moz-border-radius-topright: 10px;
	border-radius: 5px;
	border-top-right-radius: 10px;
	border: 1px solid #000000;
	padding:20px 10px;
}

#wrapper #title {
	display:block;
	
}

.implcontainer {
	float:left;
	position:relative;
	width:550px;
	height:250px;
	margin-top:10px;
}

#EditAreaArroundInfos_impl_eingabe, #EditAreaArroundInfos_sign_eingabe {
	display:none;
}

.signcontainer {
	float:right;
	position:relative;
	width:550px;
	height:250px;
	margin-top:10px;
}

#funccontainer {
	float:left;
	position:relative;
	width:500px;
	height:50px;
}

#sendcontainer {
	float:right;
	position:relative;
	width:500px;
	height:50px;
}

#outputcontainer {
	clear:both;
	position:relative;
	width:1120px;
	height:250px;
}

#outputcontainer textarea {
	width:1120px;
	height: 240px;
}

.signcontainer textarea {
	width:490px;
	height:225px;
}

.implcontainer textarea {
	width: 490px;
	height: 225px;
}

.struccontainer{
	padding:0;
}

#github {
	width: 250px;
	height: 25px;
}

#githublink {
	text-decoration:none;
	display:block;
}

#contributors {
	text-align: right;
	margin-right: 5px;
}

.sign, .impl {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 30px;
}

.error {
	color:#ff0000;
}

input[type="file"], input[type="submit"] {
	font-size: 0.7em;
}

/* ACE_Styles */

.ace_opalcomment {
	color:blue;
}
.ace_opalhandler {
	color:purple;
}
.ace_opalkeyword {
	color:brown;
	font-weight:bold;
}
.ace_opaltype {
	color:green;
	font-weight:bold;
}
.ace_opaldigit {
	color:fuchsia;
}
.ace_opalbool {
	color:fuchsia;
}
.ace_opaloperator {
	color:fuchsia;
}
